# Hamoye Data Science Internship -- STAGE A QUIZ

In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import pearsonr
import math

In [12]:
url="https://bit.ly/HDSC-StageOneDataset"
fueldata=pd.read_csv(url)
fueldata.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [13]:
fueldata.columns

Index(['record_id', 'utility_id_ferc1', 'report_year', 'plant_name_ferc1',
       'fuel_type_code_pudl', 'fuel_unit', 'fuel_qty_burned',
       'fuel_mmbtu_per_unit', 'fuel_cost_per_unit_burned',
       'fuel_cost_per_unit_delivered', 'fuel_cost_per_mmbtu'],
      dtype='object')

In [14]:
print (fueldata.dtypes)

record_id                        object
utility_id_ferc1                  int64
report_year                       int64
plant_name_ferc1                 object
fuel_type_code_pudl              object
fuel_unit                        object
fuel_qty_burned                 float64
fuel_mmbtu_per_unit             float64
fuel_cost_per_unit_burned       float64
fuel_cost_per_unit_delivered    float64
fuel_cost_per_mmbtu             float64
dtype: object

## Question 1

In [20]:
A=[1,2,3,4,5,6]
B=[13,21,34]
A.extend(B)
A

[1, 2, 3, 4, 5, 6, 13, 21, 34]

## Creating Identity Matrix

In [18]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [21]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

## Lowest Average Fuel Cost Per Unit Burned

In [25]:
fueldata.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean()
#The lowest is Gas

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

## Fuel MMBTU PER UNIT: Standard Deviation and 75 Quartile

In [66]:
fueldata['fuel_mmbtu_per_unit'].std()

10.600220307806886

In [28]:
fueldata['fuel_mmbtu_per_unit'].quantile(0.75)

17.006

## Fuel Qty Burned: Skewness and Kurtosis

In [31]:
fueldata['fuel_qty_burned'].skew()

15.851495469109503

In [32]:
fueldata['fuel_qty_burned'].kurt()

651.3694501337732

# Missing Value and Percentage

In [34]:
fueldata.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [67]:
round(((180/29523)*100),3)

0.61

## Report Year with Highest Average of Fule Cost Per Unit Delivered

In [68]:
fueldata.groupby('report_year')['fuel_cost_per_unit_delivered'].mean() #1997

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64

## Second and Third Lowest Correlation

In [51]:
from scipy.stats import pearsonr
x=fueldata['fuel_cost_per_unit_burned']
a=fueldata['utility_id_ferc1']
b=fueldata['report_year']
c=fueldata['fuel_qty_burned']
d=fueldata['fuel_cost_per_unit_delivered']
e=fueldata['fuel_mmbtu_per_unit']
Correlation,PVALUE=pearsonr(x,a)
print (Correlation)
Correlation1,PVALUE=pearsonr(x,b)
print (Correlation1)
Correlation2,Pvalue=pearsonr(x,c)
print (Correlation2)
Correlation3,pvalue=pearsonr(x,d)
print (Correlation3)
Correlation4,pvalue=pearsonr(x,e)
print (Correlation4)

-0.03786270759997258
0.01359913443813411
-0.018535416794825222
0.011007403299165129
-0.010033808428853075

## Percent Change 1994,1998

In [65]:
j=fueldata.groupby(['report_year','fuel_type_code_pudl'])['fuel_cost_per_unit_burned'].sum()
coal1994=14984.572
coal1998=11902.597
percentchange=(abs(coal1994-coal1998)/(coal1994))*100
percentchange

20.567654518260518